fastapi
uvicorn
pymongo
motor
yfinance
numpy
pandas
textblob
requests
beautifulsoup4
lxml
python-multipart
python-jose[cryptography]
passlib
bcrypt==3.2.2
python-dotenv
fastapi-mail
google-generativeai
beautifulsoup4